<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- GOOGLE FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <!-- FONT-AWESOME -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <!-- CSS -->
        <link rel="stylesheet" href="../public/css/styles.css">
        <title>Productos</title>
    </head>
<body>
    <header class="main-header">
        <div class="top-header">
            <!-- <div class="logo"> -->
                <img src="../public/images/logo-mercado-liebre.svg">
            <!-- </div> -->
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
            <p class="body-text"> <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav>
            <ul class="nav-off">
            <li><a href="/">Ofertas</a></li>
            <li><a href="">Tiendas Oficiales</a></li>
            <li><a href="">Vender</a></li>
            <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="nav-login">
            <li><a href="./register.html">Creá tu cuenta</a><i class="far fa-id-card"></i></li>
            <li><a href="./login.html">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
            <li><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
        </ul>    
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>            
    </nav>
    </header>
    <div class="containet-title">
        <h2>Producto 1</h2>
    </div>
    <main>
        <div class="container-img">
            <img src="../public/images/img-samsung-galaxy-s10.jpg" alt="imagen-producto">
        </div>
        <div class="container-info-product">
            <div class="form group">
                <label for="modelo">Modelo</label>
                <select name="colour" id="colour">
                    <option disabled selected value="">Elige una opción</option>
                    <option value="marca1">Marca1</option>
                    <option value="marca2">Marca2</option>
                    <option value="marca3">Marca3</option>
                </select>
            </div>
            <div class="container-price">
                <spam>$1000</spam>
                <i class="fa-regular
                fa-chrevron-right"></i>
            </div>
            <div class="conteiner-details-product">
            </div>
        </div>
<div>
    <div class="conteiner-add-cart">
        <div class="conteiner-quantity">
            <input type="number" placeholder="1" value="1" min="1" class="imput-quantity"/>
            <div class="btn-increment-decrement"></div>
        </div>
        </div> 
        </div>
    </div>
</div>
    </main>
    <footer> 
        <div>
        <i class="fas fa-credit-card"></i>
        <p class="bold">Pagá con tarjeta o efectivo</p>
        <p class = "body-text">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
    </div>
    <div>
        <i class="fas fa-gift"></i>
            <p class="bold">Envío gratis desde $ 2.500</p>
            <p class = "body-text">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div>
        <i class="fas fa-user-shield"></i>
            <p class="bold">Seguridad, de principio a fin</p>
            <p class = "body-text">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            <p class="copyr">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </footer>
</body>
</html>